@import "tailwindcss";

@theme {
  --font-kaushan: "Kaushan Script", cursive;
  --font-afacad: "Afacad", sans-serif;

  --animate-move-clouds: moveClouds 15s linear infinite;
  --animate-slow-bounce: bounce 15s linear infinite;
  --animate-slow-bounce2: bounce 5s linear infinite;

  @keyframes moveClouds {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100vw);
    }
  }
}

body {
  background-color: #DBEEEE;
}

/* Car Driving Animation */
@keyframes drive {
  0% {
    left: -20%;
  }

  100% {
    left: 120%;
  }
}

.animate-car {
  position: absolute;
  animation: drive 10s linear infinite;
  z-index: 20;
  display: block;
  width: max-content;
  white-space: nowrap;
}

/* Animation for Airplane: Right to Left (Fast) */
@keyframes flyLeft {
  0% {
    right: -20%;
    top: 15%;
  }

  100% {
    right: 120%;
    top: 10%;
  }
}

@keyframes flyRight {
  0% {
    left: -20%;
    top: 15%;
  }

  100% {
    left: 120%;
    top: 10%;
  }
}

/* Animation for Balloons: Left to Right (Slow & Bobbing) */
@keyframes floatRight {
  0% {
    left: -15%;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
    /* Upward bob at the halfway mark */
  }

  100% {
    left: 115%;
    transform: translateY(0px);
  }
}

.animate-airplane {
  position: absolute;
  animation: flyRight 18s linear infinite;
  z-index: 25;
  /* Prevents image from shrinking when hitting the edge */
  max-width: none !important;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}